# Dépendances Node
node_modules/

# Fichiers compilés TypeScript
dist/
*.js.map
*.d.ts

# Variables d'environnement sensibles
.env

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Fichiers de cache ou temporaires
.cache/
.tmp/
# Fichiers de configuration
.vscode/
.idea/

# Fichiers de build
build/

# Fichiers de test
coverage/
*.test.js
*.spec.js

# Fichiers de système d'exploitation
.DS_Store
Thumbs.db